.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.list-group {
  display: none;
}
.show {
  display: block;
}
/* 모달창 */
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 6;
  padding: 30px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.white-bg {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}
.show-modal {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}
.main-bg {
  padding: 100px 20px;
  background: lightgrey;
}

.dark {
  background-color: black;
  color: white;
}

.slide-container {
  width: 300vw;
  /* transition: all 1s; */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
}

.form-hide {
  display: none;
}

.grey {
  background: lightgrey;
  height: 2000px;
  margin-top: 500px;
}
.text {
  float: left;
  width : 300px;
}
.image {
  float: right;
  width : 400px;
  position: sticky;
  top: 100px;
}

.card-background {
  height: 3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
}

.card-box img {
  display: block;
  margin: auto;
  max-width: 80%;
}
.card-box {
  position: sticky;
  top: 400px;
  margin-top: 200px;
  transition: all .2s;
}